<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{_layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content" class="container mt-3">
    <!-- 본문 내용 시작 -->
    <h1>게시글 수정</h1>

    <form name="form">
        <input type="hidden" id="id" th:value="${post.id}" >
        <div>
            <label>제목</label>
            <input type="text" name="subject" class="form-control" th:value="${post.subject}">
        </div>

        <div>
            <label>내용</label>
            <textarea name="content" class="form-control" th:text="${post.content}"></textarea>
        </div>
    </form>
    <button id="btn-save" class="btn btn-secondary" type="button" onclick="save();">수정</button>
<script>
    function save() {
        if (confirm('수정할까요?')) {
            document.form.action = "/post/sujungProc";
            document.form.method = "post";
            document.form.submit();
        }
    }
</script>
<!-- 본문 내용 종료 -->
</div>
</html>
